# ignore packages installed by npm
node_modules

# ignore webstrom config 
.idea
.bak

# igonre tar.gz file
.tar.gz

*~

.DS_Store

#ignore thumbnails created by windows
Thumbs.db

# ignore server config
private_config

#tmp file

*.iml


#mac file
 .DS_Store

coverage/
.nyc_output/
tmp/
.npmrc
.vscode
package-lock.json